nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    height: 60px;
}

.school-name {
    color: greenyellow;
    font-family: sans-serif;
}

.logo-icon {
    height: 48px;
    width: 48px;
    background-image: url(../logo.png);
    background-size: cover;
    border-radius: 50%;
    margin-left: 8px;
}

.nav-item {
    border: 1px solid;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 8px;
    border-radius: 8px;
    margin-right: 8px;
}

.nav-container>a:hover {
    color: greenyellow;
}

.banner-img {
    border: 1px solid;
    height: 300px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAAG02k9uomeIqLlL37tXK8blgKyF_8umwOw&s);
    background-size: cover;
    background-position: center;
}

.info-container {
    display: flex;
}

.center {
    text-align: center;
    
}

.info-box {
    background-color: #FFF2AA;
    width: 850px;
    height: 140px;
    border: 1px solid;
    padding: 8px;
    border-radius: 8px;
    margin: 5px
}

.profile-container {
    display: flex;
    justify-content: space-around;
    height: 300px;
    width: 700px;

}

.profile-item {
    width: 150px;
    height: 150px;
    text-align: -webkit-center;
    padding: 8px;
    border-radius: 8px;
    margin: 8px;
}


.profile-img {
    height: 150px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAOVGqIiQQMQzCS0_2O5zOiEejvzbwpvQA-Q&s);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    width: 150px;
}

#kur {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJ1bspWj04GbnagXcVlVgBlLbFDHfYM5Lp2YExOdG0KpnuYRoMiDY1lxvfh_1xZJR1_tg&usqp=CAU);
}

#ian {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_OGL1KqxVLV1DRK2nePchG84ABRL2cc8nWYXOOb8flg79psPS2YrTHNgf7qZde2hYJg&usqp=CAU);
}

.message-container {
    display: flex;
    justify-content: space-between;
}

.message-item {
    width: 550px;
    height: 220px;
    border: 1px solid;
    padding: 10px;
    margin: 10px;
}